@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif; 
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    font-size: 1.5rem;
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
}

.movie img {
    max-height: 250px;
}

p{
    font-size: 1.5em;
}

.info {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1124px) {
    .info {
      font-size: 0.5em;
    }
    #movieInfo{
        display: block;
        width: 350px;
    }
  }

